<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Inicio</title>
        <link rel="stylesheet" href="/static/css/estilo.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
    </head>
<body>
    <header class="encav">
        <nav>
            <a href="/login">Ingresar</a>
            <a href="/menu">Menú</a>
            <a href="/fichas">Fichas</a>
        </nav>
        <section class="textos-header">
            <h1>CAFETERÍA CARRERA DE INFORMÁTICA</h1>
            <h2>Bienvenido</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Sobre nuestro servicio</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="/static/img/ilustracion2.jpg" alt=""> 
                <div class="contenido-textos">
                    <h3><span>1</span>Nuestro menú</h3>
                    <p> Sabemos que el tiempo con el que cuentas es valioso, por esta razón te brindamos la opcion de 
                        visualizar nuestro menú desde donde te encuentres antes de dirigirte a nuestra dirección para 
                        realizar tu compra,puedes encontrarlo dirigiéndote a la pestaña menú.</p>
                    <h3><span>2</span>Fichas</h3>
                    <p> También puedes visualizar cuales son las próximas fichas que deben recoger su
                        pedido desde la pestaña fichas en la parte superior de la página.
                    .</p>
                </div>
            </div>
        </section>
        
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Te ofrecemos</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="/static/img/ilustracion1.jpg" alt="">
                        <h3>Comida Rápida</h3>
                        <p>Deliciosa y al instante todo el tiempo a tu alcance </p>
                    </div>
                    <div class="servicio-ind">
                        <img src="/static/img/ilustracion4.jpg" alt="">
                        <h3>Bebidas</h3>
                        <p>Calientes y frias para que puedas disfrutarlas según el clima</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="/static/img/ilustracion3.jpg" alt="">
                        <h3>Eficiencia</h3>
                        <p>No esperes mucho te ofrecemos una atención rapida y eficiente </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Dirección</h4>
                <p>Av. Villazón Nro 1995 - Monoblock Central - Segundo Patio - Edif. Carrera de Informática - Piso 6</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Carrera de Informática | UMSA</h2>
    </footer>
</body>

</html>